<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="namedPipeBieren" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="tcpBieren">
                    <reliableSession enabled="true" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="httpBieren">
                    <reliableSession enabled="true" />
                </binding>
                <binding name="httpRaden">
                    <reliableSession enabled="true" />
                </binding>
                <binding name="httpEtiketten">
                    <reliableSession enabled="true" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BierenServiceHost/BierenService.svc"
                binding="wsHttpBinding" bindingConfiguration="httpBieren"
                contract="BierenServiceReference.IBierenService" name="httpBieren">
                <identity>
                    <servicePrincipalName value="host/OntCur-0E1800A7.vdabheverlee.intra" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://ontcur-0e1800a7.vdabheverlee.intra/BierenServiceHost/BierenService.svc"
                binding="netNamedPipeBinding" bindingConfiguration="namedPipeBieren"
                contract="BierenServiceReference.IBierenService" name="namedPipeBieren">
                <identity>
                    <servicePrincipalName value="host/OntCur-0E1800A7.vdabheverlee.intra" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ontcur-0e1800a7.vdabheverlee.intra/BierenServiceHost/BierenService.svc"
                binding="netTcpBinding" bindingConfiguration="tcpBieren" contract="BierenServiceReference.IBierenService"
                name="tcpBieren">
                <identity>
                    <servicePrincipalName value="host/OntCur-0E1800A7.vdabheverlee.intra" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/BierenServiceHost/RadenService.svc"
                binding="wsHttpBinding" bindingConfiguration="httpRaden" contract="RadenService.IRadenService"
                name="httpRaden">
                <identity>
                    <servicePrincipalName value="host/OntCur-0E1800A7.vdabheverlee.intra" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/BierenServiceHost/EtikettenService.svc"
                binding="wsHttpBinding" bindingConfiguration="httpEtiketten"
                contract="EtikettenService.IEtikettenService" name="httpEtiketten">
                <identity>
                    <servicePrincipalName value="host/OntCur-0E1800A7.vdabheverlee.intra" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>