<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="httpBieren" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BierenServiceHost/BierenService.svc"
                binding="wsHttpBinding" bindingConfiguration="httpBieren"
                contract="BierenServiceReference.IBierenService" name="httpBieren">
                <identity>
                    <servicePrincipalName value="host/OntCur-0E1800A7.vdabheverlee.intra" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>